// COLORS
$color-fg: #272727;
$color-bg: #ffffff;
$color-grey: #eeeeee;
$color-grey-strong: #a0a0a0;
$color-link: #a00;
$color-code: #00ff00;

// FONT
$font-url: "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic";
$font-family: "'Ubuntu Mono', ";
$font-size-read: 1.04em;

// BREAKPOINTS
$br: 600px;
