#theme-toggle {
    opacity: 0.65;
    position: relative;
    border-radius: 5px;
    height: 25px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: opacity 0.3s ease 0s;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0px;
    appearance: none;
    transform: scale(0.8);
}

// $color-grey: #eeeeee;
// $color-grey-strong: #a0a0a0;
// $color-grey-blockquote: #767676;
// $color-link: #c63417;
// $color-code: #00ff00;

html,
html[data-theme="light"] {
    --very-light-text-color: rgb(222, 222, 222);
    --light-text-color: rgb(89, 183, 255);
    --medium-text-color: #555;
    --main-text-color: #333;
    --dark-text-color: #393e46;
    --link-color: #FE0037;
    --code-bg-color: rgb(245, 245, 245);

    background-color: rgb(255, 255, 255);

    #theme-toggle div {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: none;
        background-color: var(--theme-ui-colors-transparent, transparent);
        transform: scale(1);
        transition: all 0.45s ease 0s;
        overflow: hidden;
        box-shadow: inset 8px -8px 0px 0px var(--theme-ui-colors-toggleIcon, #2d3748);

        &::before {
            content: "";
            position: absolute;
            right: -9px;
            top: -9px;
            height: 24px;
            width: 24px;
            border: none;
            border-radius: 50%;
            transform: translate(0px, 0px);
            opacity: 1;
            transition: transform 0.45s ease 0s;
        }

        &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: -4px 0px 0px -4px;
            position: absolute;
            top: 50%;
            left: 50%;
            box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
                0 23px 0 var(--theme-ui-colors-toggleIcon, #2d3748), 23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
                -23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
                15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
                -15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
                15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
                -15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748);
            transform: scale(0);
            transition: all 0.35s ease 0s;
        }
    }
}

html,
html[data-theme="dark"] {
    --very-light-text-color: #EEE;
    --light-text-color: #c4bbf0;
    --medium-text-color: #52057b;
    --main-text-color: #EAEAEA;
    --dark-text-color: rgb(36, 38, 42);
    --link-color: rgb(255, 89, 125);
    --code-bg-color: rgb(36, 38, 42);
    background-color: rgb(19, 20, 24);

    #theme-toggle div {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 4px solid var(--theme-ui-colors-toggleIcon, #cbd5e0);
        background-color: var(--theme-ui-colors-toggleIcon, #cbd5e0);
        transform: scale(0.55);
        transition: all 0.45s ease 0s;
        overflow: visible;
        box-shadow: none;

        &::before {
            content: "";
            position: absolute;
            right: -9px;
            top: -9px;
            height: 24px;
            width: 24px;
            border: 2px solid var(--theme-ui-colors-toggleIcon, #cbd5e0);
            border-radius: 50%;
            transform: translate(14px, -14px);
            opacity: 0;
            transition: transform 0.45s ease 0s;
        }

        &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: -4px 0px 0px -4px;
            position: absolute;
            top: 50%;
            left: 50%;
            box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
                0 23px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0), 23px 0 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
                -23px 0 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
                15px 15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
                -15px 15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
                15px -15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
                -15px -15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0);
            transform: scale(1);
            transition: all 0.35s ease 0s;
        }
    }
}
