.social-footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: initial;
  text-align: center;
  a {
    padding-left: 3px;
    padding-right: 3px;
  }
  .social-footer-icons {
    .fa {
      font-size: 1.3rem;
      color: #a9a9a9;

      &:hover {
        color: darken(#a9a9a9, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}
