h1 {
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
  margin-top: 1.5rem;
}

h2,
h3,
h4,
h5 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1.5rem;
}
