---
---

@import "reset";
@import "config";

body {
    color: $color-fg;
    background: $color-bg;
    font-family: 'Inconsolata', ;
    font-size: 100%;
    font-weight: 400;
}
h1 {
    margin-bottom: 5px;

}
p {
    font-size: 1em;
    line-height: 150%;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
    color: $color-link;
    text-decoration: none;
  }
  &:hover {
    color: $color-link;
    /*text-decoration: underline;*/
    border-bottom: 1px dotted;
  }
  &:active {
    color: $color-link;
    text-decoration: none;
  }
}
ul {
    list-style: none;
    li {
        padding: 5px;
        padding-left: 10px;
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }
}

.hidden {
  display: none;
}

.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 60px 30px 60px 30px;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
}

.no-wrap {
  height: 150px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px;
    @media screen and (max-width: $br) {
        display: block;
    }
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            padding: 0;
            padding-left: 5px;
        }
    }
    i {
      color: $color-link;
      &.fa {
          /*text-shadow: 2px 1px 2px #ccc;*/
          margin-right: 10px;
        }
    }
}

.comments {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  &__wrapper {
    text-align: center;
  }
}

.blog {
    padding-bottom: 30px;
    h1 {
        font-size: 1.4em;
        margin-bottom: 15px;
    }
    .date {
        color: $color-grey-strong;
    }
    a {
        font-size: $font-size-read;
    }
}

.post {
    padding-bottom: 30px;
    &__title {
        font-size: 1.6em;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    &__date {
        color: $color-grey-strong;
    }
    &__content {
        padding: 40px 0 40px 0;
        h1 {
            font-size: 1.25em;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        h2{
          font-size: 1.07em;
          font-weight: 700;
          margin-top: 30px;
          margin-bottom: 5px;
        }
        p {
            font-size: $font-size-read;
            line-height: 150%;
            margin: 15px 0px 15px 0px;
        }
        a {
            text-decoration: none;
            &:hover {
                font-weight: bold;
                border-bottom: 1px dotted;
            }
            img {
              border-bottom: none !important;
            }
        }
        div.img {
          text-align: center;
        }
        strong {
            font-weight: 700;
        }
        em {
            font-style: italic;
        }
        ul {
            font-size: 1em;
            list-style: circle;
            margin-left: 30px;
            margin-top: -5px;
            margin-bottom: 5px;
            li {
                line-height: 150%;
                margin-bottom: 15px;
                padding: 5px;
                padding-left: 5px;
                @media screen and (max-width: $br) {
                    padding: 10px 0 10px 0;
                }
            }
            @media screen and (max-width: $br) {
                margin-left: 10px;
            }
        }
        img {
            margin-top: 10px;
            margin-bottom: 10px;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }
        blockquote {
          margin: 1.5em 10px;
          padding: 0.5em 10px;
          &:before {
            content: ">>"
          }
          p {
            font-style: italic;
            display: inline;
            color: $color-grey-blockquote;
          }
        }
        code {
            padding: 3px;
            font-size: 0.9em;
            border-radius: 3px;
            background: $color-grey;
        }
        .highlight {
            margin: 10px;
            margin-bottom: 15px;
            padding: 10px;
            line-height: 1.5;
            border-radius: 3px;
            background: $color-fg;
            code {
                color: $color-code;
                background: none;
            }
        }
        .break {
            margin: 15px;
            border: 0;
            border-bottom: 1px dashed $color-fg;
        }
    }
    &_prevnext {
      margin-bottom: 30px;
      .prev {
        float: left;
      }
      .next {
          float: right;
      }
    }
}

.about {
    padding-bottom: 30px;
    &__title {

        font-size: 1.6em;
        margin-top: 20px;
        margin-bottom: 5px;

    }
    &__location{
        color: $color-grey-strong;
    }
    &__content {
        margin-top: 40px;
        h1 {
            font-size: 1.2em;
            font-style: italic;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: $font-size-read;;
            line-height: 150%;
            margin-bottom: 10px;
        }
        em{
          font-style: italic;
        }
        a {
            text-decoration: none;
            &:hover {
                font-weight: bold;
                border-bottom: 1px dotted;
            }
        }
    }
}

#layout {
  span {
    font-family: 'Inconsolata', ;
  }

}
