---
layout: default
comments: true
---

<div class="post">
    <a class="post__index" href="/">../home</a>
    <h1 class="post__title">{{ page.title }}</h1>
    <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
    <div class="post__content"?>
        {{ content }}
    </div>
    <div class="post_prevnext" >
      {% if page.previous.url %}
         <a class="prev" href="{{page.previous.url}}">« prev</a>
       {% endif %}
       {% if page.next.url %}
         <a class="next" href="{{page.next.url}}">next »</a>
       {% endif %}
    </div>

    {% include disqus.html %}
</div>
